Source: com.github.bytepixie.snippetpixie
Section: x11
Priority: extra
Maintainer: Byte Pixie <hello@bytepixie.com>
Build-Depends: appstream,
               debhelper (>= 9),
               meson,
               valac,
               desktop-file-utils,
               libatspi2.0-dev,
               libgee-0.8-dev,
               libglib2.0-dev,
               libgranite-dev,
               libgtk-3-dev,
               libibus-1.0-dev,
               libjson-glib-dev,
               libsqlite3-dev,
               libxtst-dev,
               libx11-dev
Standards-Version: 3.9.3

Package: com.github.bytepixie.snippetpixie
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Your little expandable text snippet helper.
 Save your often used text snippets and then expand them whenever you type their abbreviation.
 For example:- "spr`" expands to "Snippet Pixie rules!"
